body {
	margin: 0;
	padding: 0;
}

#header {
	background-color: lightblue;
	color: white;
	line-height: 50px;
}

.menu > li {
	float: left;
	list-style-type: none;
	width: 100px;
	text-align: center;
}

.menu > li > a {
	display: block;
	line-height: 50px;
	text-decoration: none;
}

.menu > li > a:hover {
	background-color: blue;
}

.selected {
	background-color: gray;
}